# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
# No need to hide the enviroment variable
# .env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
egg-info/

# Compiled files
*.pyc
*.pyo
*.pyd

playground.py
playground.ipynb